.unset-transform {
  text-transform: unset;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  /* height: auto; */
  max-height: 500;
}

.side-nav-p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer-marquee {
  font-size: 1.2rem;
  font-weight: 800;
  font-family: sans-serif;
  padding-bottom: 15px;
  margin-bottom: 10px;
  position: relative;
  background-color: #ee6e73;
  padding-top: 15px;
  color: white;
  /* position: fixed;
  bottom: 0; */
}
